{% extends "base.html" %}

{% block titre %}
    {{ object.nom }}
{% endblock titre %} 

{% block content %}
<h1>{{object.nom}} (<a href="/agenda/{{ object.id }}/update/">Modifier</a>)</h1>
<p>{{object.description}}</p>
<p>le {{object.date}}</p>
<p>à {{object.lieu}}</p>
<div id="participants">
{% for participant in object.evenement_participant_set.all %}
<div class="well">
{{participant.participant}}: {{participant.get_status_display}}

{% with delete_url=participant.delete_url %}
{% include "blocks/delete_form.html" %}
{% endwith %}
</div>
{% endfor %}
</div>
{% include "blocks/participant_form.html" %}

{% with delete_url=event.delete_url %}
{% include "blocks/delete_form.html" %}
{% endwith %}
    <a href="{% url "delete" pk=object.pk %}">Supprimer l'événement {{ object.nom }}</a>
{% endblock content %}
