<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Agenda partagé
{% block titre %}{% endblock titre %}
    </title>
<link rel="stylesheet" type="text/css"
      href="{{STATIC_URL}}css/bootstrap.css">
<link rel="stylesheet" type="text/css"
      href="{{STATIC_URL}}css/jquery.css">
<!-- Chargez jquery -->
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/datepicker-fr.js">
</script>
<!-- attendez le chargement complet de la page, puis affichez un
message -->
    <script type="text/javascript">
    $('document').ready(function(){
        $('#id_date').datepicker()
    });
    </script>
  </head>
  <body>
    <div class="container">
      <div id="header" class="row">
      </div>
      <div id="menu" class="row">
      </div>
      <div id="content" class="row">
        {% block content %}
        {% endblock content%}
      </div>
      <div id="footer" class="row">
      </div>
    </div>
  </body>
</html> 
