<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Agenda partagé
{% block titre %}{% endblock titre %}
    </title>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.css">    
  </head>
  <body>
    <div class="container">
      <div id="header" class="row">
      </div>
      <div id="menu" class="row">
      </div>
      <div id="content" class="row">
        {% block content %}
        {% endblock content%}
      </div>
      <div id="footer" class="row">
      </div>
    </div>
  </body>
</html> 
