<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Agenda partagé
{% block titre %}{% endblock titre %}
    </title>
<link rel="stylesheet" type="text/css"
      href="{{STATIC_URL}}css/bootstrap.css">
<link rel="stylesheet" type="text/css"
      href="{{STATIC_URL}}css/jquery.css">
<!-- Chargez jquery -->
<script src="//code.jquery.com/jquery-1.8.3.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/datepicker-fr.js">
</script>
<!-- attendez le chargement complet de la page, puis affichez un
message -->
    <script type="text/javascript">

    $('document').ready(function(){
        $('.event').hide()
        $('#id_date').datepicker()
        $('.titre').click(function(e){
           $(this).parent().parent().children('.event').toggle()
            e.preventDefault()
        });
        $("#participant_form").live("submit",function(e){
            $.ajax(
                {
                    type:"POST",
                    data:$(this).serialize(),
                    url: "",
                    success: function(data){
                        if (typeof(data) == "string"){
                            $("#participant_form").html(data);
                        }else{
                            $("#participants").append(
                               "<div class = 'well'>"
                               + data.participant + ": "
                               + data.get_status_display + ""
                               + data.delete_form +
                               "</div>"
                            )
                        }
                    }
                }
            );
            e.preventDefault();

        });
        $(".delete").live("submit",function(e){
            form = $(this)
            $.ajax(
                    {
                        type:"POST",
                        data: $(this).serialize(),
                        url: $(this).attr("action"),
                        success: function(data){
                            if(data == "OK"){
                                form.parent().remove()
                            }
                        }
                    }
            );
            e.preventDefault()
        });
    });

    </script>
  </head>
  <body>
    <div class="container">
      <div id="header" class="row">
      </div>
      <div id="menu" class="row">
      </div>
      <div id="content" class="row">
        {% block content %}
        {% endblock content%}
      </div>
      <div id="footer" class="row">
      </div>
    </div>
  </body>
</html> 
